body {

  h1{
    font-size: 148px;
    line-height: 132px;
    letter-spacing: 0.01em;
    color: $hTagBlue;
  }

  h1, h2{
    font-family: $iqFontLight;
  }

}

nav{
  min-height: 55px;
  padding-top: 15px;
  width: 100%;


  .navbar-header{
    float: left;
    max-width: 164px;
    img{
      width: 100%;
    }
  }
  .navbar-brand{
    padding-top: 11px;
  }
}

.section{
  padding: 0;
  min-height: 750px;

  .container{
    padding-top: 250px;
    p{
      color: white;
      font-family: $iqFontLight;
      font-size: 24px;
    }
  } 

  .dot-bg-ctnr{
    background: transparent url("../images/home-dot-bg.png") repeat-y  center;
    width: 369px;
    height: 100%;
    min-height: 750px;
    right: 80px;
    float: right;
  }
}



.rotator{
  width: 100%;

 .fluxslider, .images, .image1, .image2 img{
  width: 100% !important;
  height: 500px !important;
 }

  .image1, .image2, .image3, .image4, .image5 {
    background-size: 100% !important;
    background-repeat: no-repeat !important;
  }

  h1{
    position: absolute;
    z-index: 99999;
  }
  p{
      color: $copyDark;
      font-size: 30px;
      padding-top: 36px;
    }
  }


.positioning{
  background-color: #607D8B;
}

.essentials{
  background-color: #B0377B;
}

.imagery{
  background-color: #FB724B;
}

.elements{
  background-color: #4267B2;
}

.applications{
  background-color: #F0546A;
}

.container{
  h2{
    font-size: 148px;
    line-height: 132px;
    letter-spacing: 0.01em;
    color: white;
  }
  p{
    padding-top: 45px;
  }
}

//buttons
.btn-fb{
    background-color: $copyDark;
    color: white;
    padding: 10px 20px;
    border-radius: 0;
    border: none;
    font-size: 16px;
}


//*Home Page Content Section
.home-content{
  padding: 75px 0px;

  .row{
    margin: 0;
  }

  h2{
    color: $hTagBlue;
    font-size: 100px;
    letter-spacing: -.03em;
    line-height: 92px;
  }

  .col-md-7{
    margin-top: 45px;
    padding: 10px 140px;
    p{
      padding-top: 0;
    }
  }
  p{
    color: $copyDark;
    font-family: $iqFontLight;
    color: #607D80;
    font-size: 24px;
    // padding-top: 0;
    padding: 1px;
  }
}


