//Colors
$hTagBlue: #4080FF;
$copyDark: #607D80;
$fbBlue: #4267B2;


//Fonts
$fontBody: Helvetica, sans-serif;

//Freight Fonts
$iqFontLight: 'FreightLight', Helvetica, sans-serif;
$iqFontReg: 'FreightReg', Helvetica, sans-serif;
$iqFontMed: 'FreightMed', Helvetica, sans-serif;
$iqFontSemi: 'FreightSemi', Helvetica, sans-serif;
$iqFontBold: 'FreightBold', Helvetica, sans-serif;